<div id="header"><h3>Chat using WebSockets</h3></div>
<div id="chatContent"></div>
<div>
    <span id="status"></span>
    <textarea rows="2" id="tbChatInput"></textarea>
    <div id="btnSend">Send</div>
</div>

