<div id="header"><h3>Chat using WebSockets</h3></div>
<div id="content">foo bar</div>
<div>
    <span id="status">Connecting...</span>
    <input type="text" id="input"/>
</div>
<div id="testDiv">Click me</div>
