/* --- Header Styles --- */
.headerView {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #333;
    clear: both;
}

.homeLogo {
    display: inline-block;
    float: left;
    color: #999;
    font-size: 20px;
    font-weight: 200;
    margin: 0 20px;
}

.homeLogo:hover, .headerLink:hover {
    color: #fff;
    text-decoration: none;
}

.headerLinksContainer, .headerLinksContainer li {
    display: inline-block;
    float: left;
    position: relative;
}

.headerLink {
    color: #999;
    margin: 0 10px;
}

.mobileMenuButton {
    display: block;
    float: right;
    padding: 6px 15px;
    margin: 5px 30px 0 0;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.1), 0 2px 0 rgba(255, 255, 255, 0.075);
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.26);
    background-image: -webkit-linear-gradient(top, rgb(0, 0, 0), rgb(85, 85, 85));
    background-position: 0 41px;
    -webkit-transition: background-position 0.01s linear;
}

.mobileMenuButton:active {
    margin: 6px 29px 0 0;
    background-position: 0 38px;
}

.icon-bar {
    display: block;
    margin-top: 2px;
    width: 18px;
    height: 3px;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

/* Main Content Region Styles*/
#mainContentRegion {
    display: block;
    position: relative;
    width:100%;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
}

.mainLayout {
    width: 100%;
    overflow: hidden;
}

.personItemView {
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px;
    border: solid 1px black;
    border-radius: 4px;
    box-sizing: border-box;
}

.personItemView .cardPicture {
    width: 50px;
    margin-right: 10px;
    float: left;
}

.personItemView .cardText {
    margin-left: 60px;
}


/* Bottom Ad Region Styles */
#bottomAdRegion {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-top: solid 1px black;
    background: black;
}

.bottomAdItemView, .bottomAdImage {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.bottomAdImage {
    background: url(http://placehold.it/1024x90) center center no-repeat;
    background-size: contain;
}


/*--- Media Queries ---*/

/*Desktops*/
@media (min-width: 1025px) {
    .personItemView {
        width: 24.3%;
    }

    .mobileMenuButton {
        display: none;
    }

    .headerLinksContainer {
        display: inline-block;
    }
}

/*All excluding desktop*/
@media (max-width: 1025px) {
    .mobileMenuButton {
        display: block;
    }

    .headerLinksContainer {
        display: none;
    }
}

/*Tablets*/
@media (min-width: 751px) and (max-width: 1024px) {
    .personItemView {
        width: 32.5%;
    }
}

/*Small Tablets*/
@media (min-width: 515px) and (max-width: 750px) {
    .personItemView {
        width: 48.9%;
    }
}

/*Phones*/
@media (max-width: 514px) {
    .personItemView {
        width: 100%;
        min-width: 231px;
        margin: 0 0 5px 0;
    }
}